<!doctype html>
<html>
  <head>
    <title>Financial Rewind</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
      <section
        class="slide h-screen w-screen bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-fuchsia-500 via-red-600 to-orange-400 flex justify-center hidden"
      >
        <div class="flex flex-col justify-center gap-y-5">
          <h1
            class="text-10xl md:text-6xl xl:text-7xl font-bold  text-gray-800 sm:text-4xl"
          >
            Hello John!
          </h1>
          <h2 class="text-6xl font-bold  text-gray-800 ">We have a surprise for you.</h2>
          <p class="text-xl font-bold  text-gray-700 ">
            Here's a rewind of your last year's transactions.
          </p>
          <p class="text-xl font-bold tracking-tight text-gray-700 ">Wanna see it?</p>
            <button
              class="bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >Get started</button
            >
        </div>
      </section>
      <!-- INSIGHT 1: TOP 5 CATEGORIES SPENT -->
      <section class="slide h-screen w-screen hidden">
        <h1 class="text-3xl" >Top Spent Categories</h1>
        <canvas id="chart-top-categories" data-chart-data="<%=JSON.stringify(topSpentCategories)%>" class="flex"></canvas>
      </section>
      <!-- INSIGHT 2: LOWEST CATEGORY SPENT -->
      <section class="slide hidden">
        <h1>Category with the Lowest Spending</h1>
        <% if (lowestSpentCategory) { %>
        <p>
          <strong>Category Name:</strong> <%= lowestSpentCategory.category_name
          %>
        </p>
        <p>
          <strong>Total Spent:</strong> $<%= lowestSpentCategory.total_spent %>
        </p>
        <% } else { %>
        <p>No categories found.</p>
        <% } %>
      </section class="slide hidden">
      <!-- INSIGHT 3: MOST USED METHOD -->
      <section class="slide hidden">
        <h1>Most Used Method</h1>
        <% if (mostUsedMethod) { %>
        <p><strong>Method Name:</strong> <%= mostUsedMethod.method_name %></p>
        <p><strong>Times Used:</strong> $<%= mostUsedMethod.method_count %></p>
        <% } else { %>
        <p>No methods found.</p>
        <% } %>
      </section>
      <!-- INSIGHT 4: LESS USED METHOD -->
      <section class="slide hidden">
        <h1>Less Used Method</h1>
        <% if (lessUsedMethod) { %>
        <p><strong>Method Name:</strong> <%= lessUsedMethod.method_name %></p>
        <p><strong>Times Used:</strong> $<%= lessUsedMethod.method_count %></p>
        <% } else { %>
        <p>No methods found.</p>
        <% } %>
      </section>
      <!-- INSIGHT 5: TOTAL SPENT -->
      <section class="slide hidden">
        <h1>Total Spent (excluding Income): <%= totalSpent %></h1>
      </section>
      <!-- INSIGHT 6: TOTAL INCOME -->
      <section class="slide hidden">
        <h1>Total Income: <%= totalIncome %></h1>
      </section>
      <!-- INSIGHT 7: TOTAL INVESTMENT -->
      <section class="slide hidden">
        <h1>Total Investment: <%= totalInvestment %></h1>
      </section>
      <!-- INSIGHT 8: INCOME SOURCE -->
      <section class="slide hidden">
        <h1>Biggest Income Source <%= biggestIncomeSource.name %></h1>
        <h1>Biggest Income Value <%= biggestIncomeSource.income_value %></h1>
      </section>
    </div>
    <div>
      <button class="btnPrevious">Anterior</button>
      <button class="btnNext">Próximo</button>
    <div>
    <script src="/javascript/app.js"></script>
  </body>
</html>
