<!doctype html>
<html>
  <head>
    <title>Financial Rewind</title>
    <!-- CSS File -->
    <link rel="stylesheet" href="/css/output.css" />

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <!-- SECTION 1 -->
    <section
      class="slide hidden w-screen h-screen p-10 flex justify-center items-center gradient-background"
    >
      <div class="flex flex-col items-start gap-y-4 max-w-2xl">
        <h1 class="text-9xl font-bold text-white">
          Hello, <%= user.name.split(' ')[0] %>!
        </h1>
        <h2 class="text-7xl font-bold text-white">
          We have a surprise for you.
        </h2>
        <p class="text-5xl font-semibold mt-10 text-gray-900">
          Here's a rewind of your last year's transactions. Wanna see it?
        </p>
        <button
          class="btnNext bg-pink-500 hover:bg-pink-600 text-white font-bold text-xl py-2 px-4 rounded mt-16"
        >
          Let's go!
        </button>
      </div>
    </section>
    <!-- SECTION 2 -->
    <section
      class="slide hidden w-screen h-screen p-10 flex justify-center items-center gradient-slides"
    >
      <div class="flex flex-col items-center gap-y-20">
        <h1 class="text-9xl text-center font-bold text-gray-800">
          In the last year...
        </h1>
        <div
          class="flex flex-wrap items-center justify-center grid-cols-3 gap-10"
        >
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-blue-600 border-blue-600"
          >
            <p class="text-3xl font-medium text-center text-gray-50">You did</p>
            <p class="text-5xl font-medium text-center text-gray-50">
              <%= totalTransactions.total_transactions%>
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              transactions
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-purple-600 border-purple-600"
          >
            <p class="text-3xl font-medium text-center text-gray-50">
              Your total <br />
              income was
            </p>
            <p class="text-5xl font-medium text-center text-gray-50">
              $ <%= totalIncome %>
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-pink-600 border-pink-500"
          >
            <p class="text-3xl font-medium text-center text-gray-50">
              Your total <br />
              spent was
            </p>
            <p class="text-5xl font-medium text-center text-gray-50">
              $ <%= totalSpent %>
            </p>
          </div>
        </div>
        <div class="flex flex-row gap-x-5">
          <button
            class="btnPrevious w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Previous
          </button>
          <button
            class="btnNext w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Next
          </button>
        </div>
      </div>
    </section>
    <!-- SECTION 3 -->
    <section
      class="slide hidden w-screen h-screen px-5 flex justify-center flex-col items-center gradient-slides"
    >
      <div class="flex flex-col items-center gap-y-20">
        <h1 class="text-8xl font-bold text-gray-800">
          The top 5 categories <br />
          you spent most were
        </h1>
        <div class="w-3/4 h-3/4">
          <canvas
            id="chart-top-categories"
            data-chart-data="<%=JSON.stringify(topSpentCategories)%>"
            class="flex"
          ></canvas>
        </div>
        <div class="flex flex-row gap-x-5">
          <button
            class="btnPrevious w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Previous
          </button>
          <button
            class="btnNext w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Next
          </button>
        </div>
      </div>
    </section>
    <!-- SECTION 4 -->
    <section
      class="slide hidden w-screen h-screen px-5 flex justify-center flex-col items-center gradient-slides"
    >
      <div class="flex flex-col items-center justify-center gap-y-10">
        <h1 class="text-8xl text-center font-bold text-gray-800 mb-10">
          Here some interesting facts...
        </h1>
        <div
          class="flex flex-wrap justify-center items-center grid-cols-3 gap-12"
        >
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-blue-600 border-blue-600"
          >
            <p class="text-5xl font-medium text-center text-gray-50">
              "<%= lowestSpentCategory.category_name %>""
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              was the category <br />
              you spent less
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-purple-600 border-purple-600"
          >
            <p class="text-5xl font-medium text-center text-gray-50">
              "<%= mostUsedMethod.method_name %>""
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              was your most <br />
              used method
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              (<%= mostUsedMethod.method_count %> times)
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-pink-500 border-pink-500"
          >
            <p class="text-5xl font-medium text-center text-gray-50">
              <%= lessUsedMethod.method_name %>
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              was your less <br />
              used method
            </p>
            <p class="text-3xl font-medium text-center text-gray-50">
              (<%= lessUsedMethod.method_count %> times)
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-orange-600 border-orange-600"
          >
            <p class="text-3xl font-medium text-center text-gray-50">
              You have invested <br />
              a total amount of
            </p>
            <p class="text-5xl font-medium text-center text-gray-50">
              $ <%= totalInvestment %>
            </p>
          </div>
          <div
            class="flex flex-col p-10 border-solid border-2 rounded-xl bg-red-600 border-red-600"
          >
            <p class="text-3xl font-medium text-center text-gray-50">
              Your biggest <br />
              source of <br />
              income was
            </p>
            <p class="text-5xl font-medium text-center text-gray-50">
              "<%= biggestIncomeSource.name%>"
            </p>
          </div>
        </div>
        <div class="flex flex-row gap-x-5">
          <button
            class="btnPrevious w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Previous
          </button>
          <button
            class="btnNext w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Next
          </button>
        </div>
      </div>
    </section>
    <!-- SECTION 5 -->
    <section
      class="slide hidden w-screen h-screen px-5 flex justify-center flex-col items-center gradient-slides"
    >
      <div class="flex flex-col justify-center gap-y-4 mx-12">
        <h1 class="w-2/3 text-7xl text-start font-bold text-purple-600 mb-1">
          Based on your investments, <br />
          our AI tool
        </h1>
        <p class="w-2/3 text-6xl font-bold text-gray-600 mb-10">
          made some suggestions especially for you!
        </p>
        <div>
          <ul>
            <% aiInsights.forEach(function(insight) { %>
            <li
              class="ml-5 text-5xl text-start font-bold text-gray-700 mb-10 list-disc"
            >
              <%= insight %>
            </li>
            <% }); %>
          </ul>
          <button
            class="btnPrevious w-40 bg-gray-500 hover:bg-gray-600 text-white font-semibold text-xl py-2 px-4 rounded mt-16"
          >
            Previous
          </button>
          <a href="https://google.com" class=""
            ><button
              class="bg-pink-500 hover:bg-pink-600 text-white font-bold text-xl py-2 px-4 rounded mt-16"
            >
              Check our investments page for more information!
            </button></a
          >
        </div>
      </div>
    </section>
    <script src="/javascript/main.js"></script>
  </body>
</html>
