<!doctype html>
<html>
  <head>
    <title>Financial Rewind</title>
  </head>
  <body>
    <!-- INSIGHT 1: TOP 5 CATEGORIES SPENT -->
    <section>
      <h1>Top Spent Categories</h1>
      <ul>
        <% topSpentCategories.forEach(category => { %>
        <li><%= category.category_name %>: <%= category.total_spent %></li>
        <% }); %>
      </ul>
    </section>
    <!-- INSIGHT 2: LOWEST CATEGORY SPENT -->
    <section>
      <h1>Category with the Lowest Spending</h1>
      <% if (lowestSpentCategory) { %>
      <p>
        <strong>Category Name:</strong> <%= lowestSpentCategory.category_name %>
      </p>
      <p>
        <strong>Total Spent:</strong> $<%= lowestSpentCategory.total_spent %>
      </p>
      <% } else { %>
      <p>No categories found.</p>
      <% } %>
    </section>
    <!-- INSIGHT 3: MOST USED METHOD -->
    <section>
      <h1>Most Used Method</h1>
      <% if (mostUsedMethod) { %>
      <p><strong>Method Name:</strong> <%= mostUsedMethod.method_name %></p>
      <p><strong>Times Used:</strong> $<%= mostUsedMethod.method_count %></p>
      <% } else { %>
      <p>No methods found.</p>
      <% } %>
    </section>
    <!-- INSIGHT 4: LESS USED METHOD -->
    <section>
      <h1>Less Used Method</h1>
      <% if (lessUsedMethod) { %>
      <p><strong>Method Name:</strong> <%= lessUsedMethod.method_name %></p>
      <p><strong>Times Used:</strong> $<%= lessUsedMethod.method_count %></p>
      <% } else { %>
      <p>No methods found.</p>
      <% } %>
    </section>
    <section>
      <h1>Total Spent (excluding Income): <%= totalSpent %></h1>
    </section>

    <script src="/javascript/app.js"></script>
  </body>
</html>
